jupyter_files/.ipynb_checkpoints/
py_tools/__pycache__/
python_files/__pycache__/
py_tools/.ipynb_checkpoints/
load_tests/.ipynb_checkpoints/
python_files/.ipynb_checkpoints/
.ipynb_checkpoints/
jupyter_files/test.ipynb
